{% extends 'components/layout.html' %}
{% block css %}
{% endblock css %}



{% block content %}

<h1>{{ headline }}</h1>

<div class="card">
    <div class="card-header font-weight-bold">
        FAVORITE CHARACTERS OF THE DAY:
    </div>
    <ul class="list-group list-group-flush">
        {% for name in favorites %}
        <li class="list-group-item font-weight-bold">{{ name }}<span class='float-right'>{{ favorites[name] }}</span></li>
        {% endfor %}
    </ul>
</div>
<div class="row justify-content-center">


    <h1 class="headings">MARVEL CHARACTER GALLARY</h1>
    
    <div class="gallary">
        <ul>
            <li>
                <img src="https://i.ibb.co/SVs3Mbg/A1-Fyt-Tb-VFDL-AC-SX522.jpg" alt="A1-Fyt-Tb-VFDL-AC-SX522" border="0">
            </li>
            <li>
                <img src="https://i.ibb.co/7rGMrPs/red-skull-1-6-scale-figure-sideshow-collectibles-sixth-scale-img07.webp" alt="red-skull-1-6-scale-figure-sideshow-collectibles-sixth-scale-img07" border="0">
            </li>
            <li>
                <img src="https://i.ibb.co/QNtXCNL/Official-Green-Goblin-No-Way-Home-Poster.webp" alt="Official-Green-Goblin-No-Way-Home-Poster" border="0">
            </li>
            <li>
                <img src="https://i.ibb.co/n0FBY3s/dc3031m-e27b9a42-f40f-4806-80a3-fc2fa7c617b8.jpg" alt="dc3031m-e27b9a42-f40f-4806-80a3-fc2fa7c617b8" border="0">
            </li>
            <li>
                <img src="https://i.ibb.co/MsHbM25/7122170865-542995ccaf-b.jpg" alt="7122170865-542995ccaf-b" border="0">
            </li>
            <li>
                <img src="https://i.ibb.co/HhPn4XK/rx3glq13ok561.webp" alt="rx3glq13ok561" border="0">
            </li>
            <li>
                <img src="https://i.ibb.co/FXXMbrm/Deadpool-Textless.webp" alt="Deadpool-Textless" border="0">
            </li>
            <li>
                <img src="https://i.ibb.co/H4pgdgg/MV5-BMz-A2-NDkw-ODAw-M15-BMl5-Ban-Bn-Xk-Ft-ZTgw-ODk5-MTgz-MTE-V1.jpg" alt="MV5-BMz-A2-NDkw-ODAw-M15-BMl5-Ban-Bn-Xk-Ft-ZTgw-ODk5-MTgz-MTE-V1" border="0">
            </li>
        </ul>
    </div>
    </div> 

{% endblock content %}